{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{single_product.image.url}}"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
	<form action="{% url "cart:add_cart" single_product.id %}" method="POST">
		{% csrf_token %}
		<article class="content-body">

		<h2 class="title">{{single_product.product_name}}</h2>

		<div class="mb-3"> 
			<span class="price h4" data-price="{{single_product.price}}"></span>
			{% comment %} <var class="price h4">$815.00</var>  {% endcomment %}
		</div> 

		<p>{{single_product.description}}</p>


		<hr>
			<div class="row">
				<div class="item-option-select">
					<h6>Select</h6>
					<select name="color" class="form-control" required>
						<option value="" disabled selected>Color</option>
						{% for i in single_product.variasi_yang_sama.colors  %}
						<option value={{i.variation_value | lower}}> {{i.variation_value | capfirst}} </option>
						{% endfor %}
					</select>
					{% comment %} <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-light">
						<input type="radio" name="radio_color"> Silver
					</label>
					<label class="btn btn-light">
						<input type="radio" name="radio_color" > Gray
					</label>
					<label class="btn btn-light active">
						<input type="radio" name="radio_color checked"> Gold
					</label>
					<label class="btn btn-light">
						<input type="radio" name="radio_color"> Black
					</label>
					</div>  {% endcomment %}
				</div>
			</div> <!-- row.// -->
			<div class="row">
				<div class="item-option-select">
					<h6>Select</h6>
					<select name="size" class="form-control" required>
						<option value="" disabled selected>Condition</option>
						{% for i in single_product.variasi_yang_sama.sizes %}
						<option value={{i.variation_value | lower}}> {{i.variation_value | capfirst}} </option>
						{% endfor %}
					</select> 
					{% comment %} <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-light">
						<input type="radio" name="radio_color"> S
					</label>
					<label class="btn btn-light active">
						<input type="radio" name="radio_color" checked> M
					</label>
					<label class="btn btn-light">
						<input type="radio" name="radio_color"> L
					</label>
					<label class="btn btn-light">
						<input type="radio" name="radio_color"> XL
					</label>
					</div>  {% endcomment %}
				</div>
			</div> <!-- row.// -->
			<hr>
			{% if single_product.stock < 0 or single_product.stock == 0 %}
				<p style="font-size: 2rem; color: red; font-weight: bold;">Out of stock</p>
			{% comment %} {% elif in_cart %}
				<button class="btn btn-secondary" disabled>
				<span class="text">Added to cart</span>
				<i class="fas fa-check"></i>
				</button> {% endcomment %}
			{% else %}
				<button type="submit" href="" class="btn  btn-pink"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
			{% endif %} 
	</form> 
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3>Customer Reviews </h3>  
		
	</header>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>  
				<h6 class="mb-1">Mike John </h6>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip
			</p>	
		</div>
	</article>

	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
{% endblock content %}